{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username() }}
        {% if form.username.errors %}
            <ul class="errors">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {{ form.password.label }} {{ form.password() }}
        {% if form.password.errors %}
            <ul class="errors">
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {{ form.repeat_password.label }} {{ form.repeat_password() }}
        {% if form.repeat_password.errors %}
            <ul class="errors">
            {% for error in form.repeat_password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <input type="submit" value="Register">
    </form>
{% endblock %}