{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block content %}
<article class="post">
    <header>
        <div>
        <h1>{{ post['title'] }}</h1>
        <div class="about">by {{ post['author'].username }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('posts.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ post['body'] }}</p>
    <div id="like">
        <i class="fa-solid fa-thumbs-up" id="like_button" style="font-size: 2rem;"></i>
        <span id="likes_count">{{ like_count }}</span>
    </div>
</article>
{% endblock content %}

{% block script %}
<script>
    let isLiked = {{ isLiked|tojson }}

    function changeButtonState() {
        console.log(isLiked)
        if (isLiked) {
            btn.style.color = "blue"
            btn.onclick = dislike
        } else {
            btn.style.color = "black"
            btn.onclick = like
        }
    }

    async function likeOperation(res) {
        data = await res.text()
        document.getElementById("likes_count").innerHTML = data;
        isLiked = true
        changeButtonState()
    }

    async function dislikeOperation(res) {
        data = await res.text()
        document.getElementById("likes_count").innerHTML = data;
        isLiked = false
        changeButtonState()
    }
    async function like() {
        let response = await fetch("{{ url_for('posts.like_article', id=post['id']) }}", {
            method: 'POST',
        }).then(async response => {
            if (response.status == 403) {
                alert("you should login for like this post")
            } else if (response.status == 200) {
                likeOperation(response)
            }
        })
    }
    async function dislike() {
        let response = await fetch("{{ url_for('posts.dislike_article', id=post['id']) }}", {
            method: 'POST',
        }).then(async response => {
            if (response.status == 403) {
                alert("you should login for dislike this post")
            } else if (response.status == 200) {
                dislikeOperation(response)
            } else if (response.status == 400) {
                alert("you not liked this post!")
            }
        })
    }
    changeButtonState()
</script>
{% endblock script %}