{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title(value=post['title']) }}
    {% if form.title.errors %}
      <ul class="errors">
      {% for error in form.title.errors %}
          <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {{ form.body.label }} {{ form.body(data_content=post['body']) }}
    {% if form.body.errors %}
      <ul class="errors">
      {% for error in form.body.errors %}
          <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('posts.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

{% block script %}
  <script>
    let textarea = document.getElementById('body')
    textarea.innerHTML = textarea.getAttribute('data-content')
  </script>
{% endblock script %}